.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 180px;
  background-color: black;
  font-family: $textFamily;
  &__title{
    font-size: 13px;
    color: $textTitleColor;
    margin-bottom: 35px;
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(4, 350px);
    column-gap: 40px;
    row-gap: 70px;
    margin-bottom: 150px;
  }
}