.card{
  display: flex;
  flex-direction: column;
  background-color: black;
  &__link{
    text-decoration: none  !important;
  }
  &__img{
    width: 360px;
    height: auto;
  }
  &__info{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    &--textContainer{
      display: flex;
      flex-direction: column;
    &__title{
      color:$textTitleColor;
      font-size: 18px;
      font-weight: normal;
    }
    &__price{
      color:$textColor;
      font-size: 14px;
    }
    }
    
  }
}