//Textos
$textTitleColor: white;
$textColor: rgb(158, 156, 156);
$textTitleFamily: 'Roboto', sans-serif;
$textFamily: 'Montserrat', sans-serif;
//Estilos Fijos 
.capitalize{
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}
